<launch>
 <!-- Start rosserial Arduino node -->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
      <rosparam file="$(find robot_bringup)/config/serial_params.yaml" command="load" />
  </node>
  <node name="Cmd_Vel_to_Arduino" pkg="robot_bringup" type="Cmd_Vel_to_Arduino" respawn="false" output="screen"/>

  <node pkg="robot_bringup" type="Mecanum_TF" name="Mecanum_TF" output="screen">
    <rosparam file="$(find robot_bringup)/config/odom_encoder_params.yaml" command="load"/>
  </node>

  <include file="$(find rplidar_ros)/launch/rplidar_a1.launch" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0.14 -0.09 0.17 0 0 0 robot_footprint laser 40" />

  <include file="$(find robot_bringup)/launch/imu_cam.launch"/>
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0.16 -0.05 0.18 0 0 0 robot_footprint camera_imu_optical_frame 40"/>

  <include file="$(find imu_filter_madgwick)/launch/imu_filter_madgwick.launch" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
    <rosparam command="load" file="$(find robot_bringup)/config/robot_localization_ekf.yaml"/>
    <!--remap from="odometry/filtered" to="filtered_odom"/-->
    <!--remap from="odometry/filtered" to="odometry/filtered"/-->
  </node>

  <!--include file="$(find robot_bringup)/launch/gmapping.launch" /-->
  <arg name="map" default="map_test"/>
  <arg name="map_file" default="$(find robot_bringup)/map/final_test_new_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!--- Run AMCL -->
  <include file="$(find robot_bringup)/launch/amcl.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_bringup)/final_test_rviz.rviz"/>
  <!--node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/-->  

  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_bringup)/final_test_rviz.rviz"/-->
</launch>
